/* dropdown */
@layer theme {
  :root {
    --ds-dropdown-background: white;
    --ds-dropdown-width: 200px;
    --ds-dropdown-focus: var(--ds-grey-40);
    --ds-dropdown-shadow: var(--ds-shadow-medium);
    --ds-dropdown-radius: var(--ds-box-radius);
    --ds-dropdown-padding: calc(0.25 * var(--ds-spacing)) calc(0.5 * var(--ds-spacing));
  }
}
@layer component {
  .ds-dropdown {
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    display: inline-block; 
    position: relative;
  }
  .ds-dropdown-icon {
    padding: 0 0.25em;
    width: 1.5em;
    border-radius: 2px;
  }
  .ds-dropdown-icon:hover {
    background: var(--ds-dropdown-focus);
  }
  .ds-dropdown-nav {
    width: var(--ds-dropdown-width);
    background: var(--ds-dropdown-background);
    display: none;
    position: absolute;
    left: 0;
    box-shadow: var(--ds-dropdown-shadow);
    border-radius: var(--ds-dropdown-radius);
    z-index: 101;
  }
  .ds-dropdown-nav::before {
    content: "";
    display: block;
    width: 0.5rem; 
    height: 0.5rem;
    background: var(--ds-dropdown-background);
    position: absolute;
    top: -0.2rem;
    left: 0.75rem;
    transform: rotate(45deg);
    filter: drop-shadow(-1px -1px 2px #DDD);
    clip-path: polygon(-2px 0.6rem, -2px -2px, 0.6rem -2px);
  }
  .ds-dropdown-state {
    display: none;  
  }
  .ds-dropdown-state:checked ~ .ds-dropdown-nav {
    display: block;
  }
  .ds-dropdown-list {
    list-style: none;
    margin: 0;
    padding: var(--ds-dropdown-padding);
  }
  .ds-dropdown-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .ds-dropdown-right {
    left: auto;
    right: 0;
  }

  .ds-dropdown-right::before {
    left: auto;
    right: 0.5rem;
    top: -0.15rem;
  }

  .ds-dropdown-up {
    bottom: 1.5em
  }
  .ds-dropdown-nav.ds-dropdown-up::before {
    transform: rotate(-135deg);
    top: auto;
    bottom: -0.2rem;
    filter: drop-shadow(1px 1px 2px #000);
  }

  .ds-dropdown-center {
    margin-left: calc(-0.5 * var(--ds-dropdown-width) + 50%);
  }
  .ds-dropdown-nav.ds-dropdown-center::before {
    left: calc(50% - 0.25rem);
  }
}