@layer theme {
	:root,
	:host {
	  --ds-top: 0;
	  --ds-left: 0;
	  --ds-bottom: 0;
	  --ds-right: 0;
	}
}
@layer component {
	.ds-sticky-top {
	  position: sticky;
	  top: var(--ds-top);
	  z-index: 2;
	}
	.ds-sticky-bottom {
	  position: sticky;
	  bottom: var(--ds-bottom);
	  z-index: 2;
	}
	.ds-sticky-left {  
	  position: sticky;
	  left: var(--ds-left);
	  display: inline-block;
	  z-index: 2;
	}
	.ds-sticky-right {  
	  position: sticky;
	  right: var(--ds-right);
	  display: inline-block;
	  z-index: 2;
	}
}
