@layer theme {
  :root {
    --ds-font-weight: 300;
    --ds-line-height: 1.6rem;
    --ds-heading-weight: 400;
    --ds-heading-multiplier: 1.27201965;
  }
}
@layer base {
  body {
    font-family: var(--ds-font-body);
    font-weight: var(--ds-font-weight);
    line-height: var(--ds-line-height);
  }
  h1 {
      --ds-font-size: calc(1em * var(--ds-heading-multiplier) * var(--ds-heading-multiplier) * var(--ds-heading-multiplier));
      line-height: calc(2 * var(--ds-line-height));
  }
  h2 {
      --ds-font-size: calc(1em * var(--ds-heading-multiplier) * var(--ds-heading-multiplier));    
      line-height: calc(2 * var(--ds-line-height));
  }
  h3 {
      --ds-font-size: calc(1em * var(--ds-heading-multiplier));    
  }
  h1, h2, h3, h4, h5, h6 {
      font-size: var(--ds-font-size);
      font-weight: var(--ds-heading-weight);
      font-family: var(--ds-font-heading);
  }
  h4, h5, h6 {
      font-size: 1em;
  }
  h1, h2, h3, h4, h5, h6, p, ol, ul, dl {
      margin: var(--ds-space) 0;
  }
  dd, li, blockquote {
      margin-inline-start: var(--ds-space);
  }
}
@layer utility {
  .ds-margin-up {
      margin-block-start: calc(-1 * var(--ds-line-height));
  }
}